:root {
    /*  General.
     *          */
    --GW-body-background-color: #fafafa;
    --GW-body-text-color: #242424;
    --GW-body-link-color: #272727;
    --GW-body-link-hover-color: #888;

    /*  Selection.
     *          */
    --GW-text-selection-background-color: #333;
    --GW-text-selection-color: #fff;

    /*  Link underlining.
     *          */
    --GW-link-underline-background-color: var(--GW-body-background-color);
    --GW-link-underline-gradient-line-color: #333;
    --GW-link-underline-gradient-line-color-hover: #999;

    /*  Blockquotes.
     *          */
    --GW-blockquote-border-color-level-one: #ccc;
    --GW-blockquote-border-color-level-two: #c4c4c4;
    --GW-blockquote-border-color-level-three: #b3b3b3;
    --GW-blockquote-border-color-level-four: #a6a6a6;
    --GW-blockquote-background-color-level-one: #f8f8f8;
    --GW-blockquote-background-color-level-two: #e6e6e6;
    --GW-blockquote-background-color-level-three: #d8d8d8;

    /*  Abstracts.
     *          */
    --GW-abstract-border-color: #bbb;
    --GW-abstract-background-color: var(--GW-blockquote-background-color-level-one);

    /*  Sidebar.
     *          */
    --GW-sidebar-horizontal-rule-color: #aaa;
    --GW-sidebar-mobile-link-border-color: #000;

    /*  Table of contents.
     *          */
    --GW-TOC-border-color: #ccc;
    --GW-TOC-background-color: #f8f8f8;
    --GW-TOC-link-hover-background-color: #ececec;
    --GW-TOC-link-hover-color: #000;
    --GW-TOC-link-hover-indicator-bar-color: #ccc;
    --GW-TOC-number-color: #909090;
    --GW-TOC-number-hover-color: #313131;

    /*  Collapse blocks.
     *          */
    --GW-collapse-summary-blockquote-hover-color: #eee;
    --GW-collapse-disclosure-button-color: #eee;
    --GW-collapse-disclosure-button-hover-color: #ddd;
    --GW-collapse-disclosure-button-top-part-text-color: #bbb;
    --GW-collapse-disclosure-button-bottom-part-text-color: #aaa;
    --GW-collapse-disclosure-button-text-hover-color: #fff;

    /*  Headings.
     *          */
    --GW-H1-box-shadow-background-color: var(--GW-body-background-color);
    --GW-H1-box-shadow-line-color: #888;
    --GW-H2-bottom-border-color: #888;

    /*  Comments.
     *          */
    --GW-comment-section-top-border-color: #999;

    /*  Lists.
     *          */
    --GW-bulleted-list-marker-color: #808080;

    /*  Figures.
     *          */
    --GW-figure-outline-color: #888;
    --GW-figure-caption-outline-color: #888;

    /*  Epigraphs.
     *          */
    --GW-epigraph-quotation-mark-color: #808080;

    /*  Footnotes.
     *          */
    --GW-footnote-border-color: #aaa;
    --GW-footnote-highlighted-border-color: #aaa;
    --GW-footnotes-section-top-rule-color: #ccc;
    --GW-footnote-backlink-border-color: #000;
    --GW-footnote-backlink-border-hover-color: #999;
    --GW-footnote-backlink-after-bordered-block-background-color: var(--GW-body-background-color);

    /*  Footnote references.
     *          */
    --GW-footnote-ref-highlight-box-shadow-color: #aaa;
    --GW-footnote-ref-highlight-background-color: rgba(255,255,255,0.75);

    /*  Sidenotes.
     *          */
    --GW-sidenote-highlight-background-color: var(--GW-body-background-color);
    --GW-sidenote-highlight-box-shadow-color: #aaa;
    --GW-sidenote-border-color: #aaa;
    --GW-sidenote-scrollbar-track-color: var(--GW-body-background-color);
    --GW-sidenote-scrollbar-thumb-color: #aaa;
    --GW-sidenote-scrollbar-thumb-hover-color: #999;
    --GW-sidenote-self-link-border-color: #aaa;

    /*  Tables.
     *          */
    --GW-table-border-color: #000;
    --GW-table-full-width-background-color: var(--GW-body-background-color);
    --GW-table-caption-border-color: #000;
    --GW-table-row-horizontal-border-color: #000;
    --GW-table-cell-vertical-border-color: var(--GW-body-background-color);
    --GW-table-scrollbar-track-color: var(--GW-body-background-color);
    --GW-table-scrollbar-thumb-color: #aaa;
    --GW-table-scrollbar-thumb-hover-color: #999;
    --GW-table-scrollbar-border-color: #000;
    --GW-table-column-heading-hover-background-color: #e2f0f2;
    --GW-table-sorted-column-heading-background-color: #8bd0ed;
    --GW-table-sorted-column-heading-text-color: #fff;
    --GW-table-sorted-column-heading-text-shadow-color: #000;
    --GW-table-zebra-stripe-alternate-row-background-color: #f6f6f6;
    --GW-table-row-hover-outline-color: #000;

    /*  Code blocks.
     *          */
    --GW-code-element-border-color: #c8c8c8;
    --GW-code-element-background-color: #fafafa;
    --GW-pre-element-border-color: #c8c8c8;
    --GW-pre-element-background-color: #fafafa;
    --GW-pre-element-scrollbar-track-color: #fafafa;
    --GW-pre-element-scrollbar-thumb-color: #ccc;
    --GW-pre-element-scrollbar-thumb-hover-color: #999;

    /*  Syntax highlight theme.
     *          */
    --GW-syntax-highlight-color-normal: #1f1c1b;
    --GW-syntax-highlight-color-attribute: #002561;
    --GW-syntax-highlight-color-data-type: inherit;
    --GW-syntax-highlight-color-variable: #666666;
    --GW-syntax-highlight-color-other: inherit;
    --GW-syntax-highlight-color-preprocessor: inherit;
    --GW-syntax-highlight-color-extension: #888888;
    --GW-syntax-highlight-color-comment: #888888;
    --GW-syntax-highlight-color-control-flow: #003900;
    --GW-syntax-highlight-color-keyword: #002561;
    --GW-syntax-highlight-color-operator: #002561;
    --GW-syntax-highlight-color-special-char: #607880;
    --GW-syntax-highlight-color-built-in: #002561;
    --GW-syntax-highlight-color-function: #002561;
    --GW-syntax-highlight-color-constant: inherit;
    --GW-syntax-highlight-color-base-n: inherit;
    --GW-syntax-highlight-color-dec-val: inherit;
    --GW-syntax-highlight-color-float: inherit;
    --GW-syntax-highlight-color-information: inherit;
    --GW-syntax-highlight-color-char: inherit;
    --GW-syntax-highlight-color-string: inherit;
    --GW-syntax-highlight-color-verbatim-string: inherit;
    --GW-syntax-highlight-color-alert: #bf0303;
    --GW-syntax-highlight-color-error: #ff0000;
    --GW-syntax-highlight-color-import: #777777;
    --GW-syntax-highlight-color-special-string: #666666;

    /*  Math.
     *          */
    --GW-math-block-background-color: #f6f6f6;
    --GW-math-block-scrollbar-border-color: #ccc;
    --GW-math-block-scrollbar-track-color: var(--GW-body-background-color);
    --GW-math-block-scrollbar-thumb-color: #ccc;
    --GW-math-block-scrollbar-thumb-hover-color: #999;

    /*  Drop caps.
     *          */
    --GW-drop-caps-yinit-color: #0d0d0d;
    --GW-drop-caps-yinit-text-shadow-color: #777;
    --GW-drop-caps-de-zs-color: #1b1b1b;
    --GW-drop-caps-cheshire-color: #191919;
    --GW-drop-caps-kanzlei-color: #191919;

    /*  Admonitions.
     *          */
    --GW-admonition-default-left-border-color: #909090;
    --GW-admonition-default-background-color: #d8d8d8;
    --GW-admonition-tip-left-border-color: #d8d8d8;
    --GW-admonition-tip-background-color: #f0f0f0;
    --GW-admonition-warning-left-border-color: #5a5a5a;
    --GW-admonition-warning-background-color: #9a9a9a;
    --GW-admonition-warning-text-color: #fff;
    --GW-admonition-warning-title-background-color: #5a5a5a;
    --GW-admonition-warning-icon-color: #fff;
    --GW-admonition-error-left-border-color: #2d2d2d;
    --GW-admonition-error-background-color: #5a5a5a;
    --GW-admonition-error-text-color: #fff;
    --GW-admonition-error-title-background-color: #2d2d2d;
    --GW-admonition-error-icon-color: #fff;
    --GW-admonition-reversed-link-color: #ddd;
    --GW-admonition-reversed-link-color-hover: #ccc;
    --GW-admonition-reversed-link-underline-gradient-line-color: #ccc;
    --GW-admonition-reversed-link-underline-gradient-line-color-hover: #bbb;
    --GW-admonition-reversed-footnote-ref-highlight-background-color: rgba(90,90,90,0.75);

    /*  Sequential nav UI.
     *          */
    --GW-sequential-nav-link-background-color: var(--GW-body-background-color);

    /*  Page-specific styles.
     *          */
    --GW-index-page-bottom-ornament-line-color: #808080;

    /*  Pop-frames (popups or popins).
     *      */
    --GW-raw-code-popframe-line-highlight-background-color: #ffd;
    --GW-raw-code-popframe-line-hightlight-border-color: #ddd;
    --GW-raw-code-popframe-line-number-color: #aaa;
    --GW-raw-code-popframe-line-number-divider-color: #ccc;

    /*  Popups.
     *          */
    --GW-popups-body-background-color: var(--GW-body-background-color);
    --GW-popups-popup-background-color: var(--GW-body-background-color);

    --GW-popups-popup-border-color: #ccc;
    --GW-popups-box-shadow-color: #ccc;
    --GW-popups-popup-border-focused-color: #aaa;
    --GW-popups-box-shadow-focused-color: #aaa;

    --GW-popups-popup-title-bar-background-color: #f6f6f6;
    --GW-popups-popup-title-bar-button-color: #bbb;
    --GW-popups-popup-title-bar-button-color-hover: #000;
    --GW-popups-popup-title-color: #aaa;
    --GW-popups-popup-title-link-hover-color: var(--GW-body-link-hover-color);
    --GW-popups-popup-title-bar-background-focused-color: #e6e6e6;
    --GW-popups-popup-title-bar-button-focused-color: #777;
    --GW-popups-popup-title-bar-button-focused-color-hover: #000;
    --GW-popups-popup-title-bar-submenu-box-shadow-color: #ddd;
    --GW-popups-popup-title-focused-color: #000;
    --GW-popups-popup-title-link-hover-focused-color: var(--GW-body-link-hover-color);

    --GW-popups-popup-scrollbar-track-color: var(--GW-body-background-color);

    --GW-popups-popup-scrollbar-thumb-color: #ddd;
    --GW-popups-popup-scrollbar-thumb-hover-color: #bbb;
    --GW-popups-popup-scrollbar-thumb-focused-color: #ccc;
    --GW-popups-popup-scrollbar-thumb-hover-focused-color: #999;

    --GW-popups-popup-options-dialog-backdrop-background-color: rgba(255,255,255,0.95);
    --GW-popups-popup-options-dialog-background-color: var(--GW-body-background-color);
    --GW-popups-popup-options-dialog-border-color: #aaa;
    --GW-popups-popup-options-dialog-box-shadow-color: #444;
    --GW-popups-popup-options-dialog-horizontal-rule-color: #ccc;
    --GW-popups-popup-options-dialog-button-background-color: var(--GW-body-background-color);
    --GW-popups-popup-options-dialog-button-text-color: #000;
    --GW-popups-popup-options-dialog-button-border-color: #000;
    --GW-popups-popup-options-dialog-button-hover-box-shadow-color: #000;
    --GW-popups-popup-options-dialog-option-button-explanation-text-color: #777;
    --GW-popups-popup-options-dialog-option-button-hover-text-color: #777;
    --GW-popups-popup-options-dialog-radio-button-border-color: #000;
    --GW-popups-show-popup-options-dialog-button-color: #999;

    /*  Popins.
     *          */
    --GW-popins-body-background-color: var(--GW-body-background-color);
    --GW-popins-popin-background-color: var(--GW-body-background-color);
    --GW-popins-popin-border-color: #aaa;
    --GW-popins-box-shadow-color: #aaa;
    --GW-popins-popin-title-bar-background-color: #fff;
    --GW-popins-popin-title-bar-button-color: #777;
    --GW-popins-popin-scrollbar-thumb-color: #ccc;
    --GW-popins-popin-scrollbar-track-color: var(--GW-body-background-color);
    --GW-popins-popin-scrollbar-thumb-hover-color: #999;
    --GW-popins-popin-stack-counter-text-color: #fff;

    /*  Image focus.
     *          */
    --GW-image-focus-image-hover-drop-shadow-color: #777;

    /*  Mode selector (light/dark mode).
     *          */
    --GW-mode-selector-background-color: var(--GW-body-background-color);
    --GW-mode-selector-border-hover-color: #aaa;
    --GW-mode-selector-button-text-color: #777;
    --GW-mode-selector-button-hover-text-color: #000;

    /*  “Back to top” link.
     *      */
    --GW-back-to-top-link-color: #ccc;
    --GW-back-to-top-link-hover-color: #999;
}

/* Based on: the `friendly_grayscale' and `algol_nu` styles, and tweaked
 *   after that.
 *
 * Tweaks mostly inspired by the stimmung-themes: https://github.com/motform/stimmung-themes
 */

td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.hll { background-color: #ffffcc }
.c { color: var(--fg-comment); font-style: italic } /* Comment */
.err { border: 1px solid #898989 } /* Error */
.highlight-bqn .err { color: var(--fg); border: none; } /* Ignore errors in BQN, since the parser is not that good */
.k { font-weight: bold } /* Keyword */
.o { font-weight: bold }   /* Operator */
.highlight-bqn     .o { font-weight: normal } /* Operator */
.highlight-tex     .o { font-weight: normal } /* Operator */
.highlight-console .o { font-weight: normal } /* Operator */
.p { } /* Punctuation */
.highlight-bqn .py { color: var(--fg-bqn-2-mod) }
.ch { color: var(--fg-comment2); font-style: italic } /* Comment.Hashbang */
.cm { color: var(--fg-comment2); font-style: italic } /* Comment.Multiline */
.cp { color: var(--fg-comment2); font-weight: bold } /* Comment.Preproc */
.cpf { color: var(--fg-comment2); font-style: italic } /* Comment.PreprocFile */
.c1 { color: var(--fg-comment2); font-style: italic } /* Comment.Single */
.cs { color: var(--fg-comment2); font-weight: bold } /* Comment.Special */
.gd { color: #545454 } /* Generic.Deleted */
.highlight-diff .gd { color: var(--fg-diff-deleted) } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #898989 } /* Generic.Error */
.gh { color: var(--fg-output); font-weight: bold } /* Generic.Heading */
.gi { color: #7D7D7D } /* Generic.Inserted */
.highlight-diff .gi { color: var(--fg-diff-added) } /* Generic.Inserted */
.go { color: var(--fg-output) } /* Generic.Output */
.gp { font-weight: bold } /* Generic.Prompt */
.highlight-console .gp { color: var(--fg-bqn-1-mod); font-weight: normal } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: var(--fg-keyword); font-weight: bold } /* Generic.Subheading */
.gt { color: #6D6D6D } /* Generic.Traceback */
.kc { color: var(--fg-keyword); font-weight: bold } /* Keyword.Constant */
.highlight-Python .kc { color: var(--fg-bqn-1-mod) } /* Keyword.Constant */
.kd { color: var(--fg-keyword); font-weight: bold } /* Keyword.Declaration */
.highlight-bqn .kd { color: var(--fg-bqn-2-mod); font-weight: bold } /* Keyword.Declaration */
.kn { color: var(--fg-keyword); font-weight: bold } /* Keyword.Namespace */
.highlight-Python .kn { color: var(--fg) } /* Keyword.Reserved */
.kp { color: var(--fg-keyword); font-weight: bold } /* Keyword.Pseudo */
.kr { font-weight: bold } /* Keyword.Reserved */
.kt { background-color: var(--bg-code-accent) } /* Keyword.Type */
.highlight-bqn .kt { color: var(--fg); background-color: var(--bg) } /* Keyword.Type */
.m { color: var(--fg-output) } /* Literal.Number */
.s { color: var(--fg-string) } /* Literal.String */
.na { color: var(--fg-output) } /* Name.Attribute */
.highlight-bqn .na { color: var(--fg-bqn-1-mod) } /* Name.Attribute */
.highlight-tex .na { color: var(--fg) } /* Name.Attribute */
.nb { font-weight: bold } /* Name.Builtin */
.highlight-Python  .nb { color: var(--fg-bqn-1-mod) } /* Name.Builtin */
.highlight-tex     .nb { font-weight: normal } /* Name.Builtin */
.highlight-console .nb { font-weight: normal } /* Name.Builtin */
.nc { color: var(--fg-nameclass); font-weight: bold } /* Name.Class */
.no { } /* Name.Constant */
.nd { color: #555555; font-weight: bold } /* Name.Decorator */
.ni { color: #848484; font-weight: bold } /* Name.Entity */
.highlight-bqn .ni { color: var(--fg-bqn-sub) } /* Name.Entity */
.ne { color: var(--fg-exception) } /* Name.Exception */
.nf { font-weight: bold   } /* Name.Function */
.highlight-emacs-lisp .nf { font-weight: normal } /* Name.Function */
.nl { color: #363636; font-weight: bold } /* Name.Label */
.nn { background-color: var(--bg-code-accent) } /* Name.Namespace */
.highlight-Python .nn { background-color: var(--bg) } /* Name.Namespace */
.nt { color: var(--fg-nametag); font-weight: bold } /* Name.Tag */
.nv {  } /* Name.Variable */
.highlight-bqn .nv { color: var(--fg-bqn-sub) } /* Name.Variable */
.highlight-tex .nv { font-weight: bold } /* Name.Variable */
.ow { font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mb { color: var(--fg-comment) } /* Literal.Number.Bin */
.mf {  } /* Literal.Number.Float */
.mh {  } /* Literal.Number.Hex */
.mi {  } /* Literal.Number.Integer */
.mo {  } /* Literal.Number.Oct */
.sa { color: var(--fg-string) } /* Literal.String.Affix */
.sb { color: var(--fg-string) } /* Literal.String.Backtick */
.sc { color: var(--fg-string) } /* Literal.String.Char */
.dl { color: var(--fg-string) } /* Literal.String.Delimiter */
.sd { color: var(--fg-string);  font-style: italic } /* Literal.String.Doc */
.s2 { color: var(--fg-string) } /* Literal.String.Double */
.highlight-bqn    .s2 { color: var(--fg-bqn-string) } /* Literal.String.Double */
.highlight-Python .s2 { color: var(--fg-bqn-string) } /* Literal.String.Double */
.se { color: var(--fg-string);  font-weight: bold } /* Literal.String.Escape */
.sh { color: var(--fg-string) } /* Literal.String.Heredoc */
.si { color: #9F9F9F } /* Literal.String.Interpol */
.highlight-Python .si { color: var(--fg) } /* Literal.String.Interpol */
.sx { color: var(--fg-nameclass) } /* Literal.String.Other */
.highlight-bqn .sx { color: var(--fg-bqn-string) } /* Literal.String.Other */
.sr { color: var(--fg-exception) } /* Literal.String.Regex */
.s1 { color: #717171 } /* Literal.String.Single */
.highlight-bqn     .s1 { color: var(--fg-bqn-string) } /* Literal.String.Single */
.highlight-console .s1 { color: var(--fg-bqn-string) } /* Literal.String.Single */
.ss { color: var(--fg-literal) } /* Literal.String.Symbol */
.highlight-bqn .ss { color: var(--fg-bqn-string) } /* Literal.String.Symbol */
.bp { color: var(--fg-exception) } /* Name.Builtin.Pseudo */
.fm { color: #3F3F3F } /* Name.Function.Magic */
.vc { color: var(--fg-variable) } /* Name.Variable.Class */
.vg { color: var(--fg-variable) } /* Name.Variable.Global */
.vi { color: var(--fg-variable) } /* Name.Variable.Instance */
.vm { color: var(--fg-variable) } /* Name.Variable.Magic */
.highlight-Python .vm { color: var(--fg-bqn-1-mod) } /* Name.Variable.Magic */
.il { color: var(--fg-comment) } /* Literal.Number.Integer.Long */

