*.o
*.hi
*.dyn_o
*.dyn_hi
*.hie
*.exe
*.out
site
/dist/
dist-newstyle/
a-peirogon/
deshechos/
.cabal-sandbox/
cabal.sandbox.config
cabal.project.local
cabal.project.local~
.ghc.environment.*
.stack-work/
stack.yaml.lock
_site/
_cache/
result
result-*
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
*.aux
*.log
*.pdf
*.tex
*.dvi
*.fdb_latexmk
*.fls
*.synctex.gz
/generated/tikz/temp/
*.swp
*.swo
*~
\#*\#
.vscode/
.DS_Store
Thumbs.db
*.tmp
*.temp
temp.*
