<section id="books-index">
  $for(years)$
  <section class="shelf-year">
    $if(year)$<h1>$year$</h1>$endif$

    <ul class="shelf">
    $for(posts)$
      <li class="shelf-book">
        $if(portada)$
        <img class="shelf-cover" src="$portada$" alt="Portada de $title$" loading="lazy">
        $else$
        <span class="shelf-cover shelf-cover-blank" aria-hidden="true">
          <span class="shelf-blank-title">$title$</span>
          $if(autor)$<span class="shelf-blank-author">$autor$</span>$endif$
        </span>
        $endif$
        <span class="shelf-title">$title$</span>
        $if(autor)$<span class="shelf-author">$autor$</span>$endif$
      </li>
    $endfor$
    </ul>
  </section>
  $endfor$
</section>
