<div class="post-metadata">
    <span id="page-metadata-block">
        <span id="page-date-range">
            $date$
        </span>
        $if(tags)$
        <span id="page-tags">
            tags: <em>$tags$</em>
        </span>
        $endif$
    </span>
</div>

$if(abstract)$
<div class="abstract">
    <blockquote class="page-abstract">
        $abstract$
    </blockquote>
</div>
$endif$

$body$

<script>
if (document.querySelector("table")) {
    var js = document.createElement("script");
    js.type = "text/javascript";
    // Corregida la ruta: site.hs sirve js/* en /js/, no en /assets/js/
    js.src = "https://mynd.neocities.org/js/tablesorter.js";
    document.body.appendChild(js);
}
</script>
